.controles{
    display: flex;
    align-items:baseline;
    width: 100%;
}

.Cont_adopcion{
    justify-content: space-evenly;
}

.Cont_serviciosVeterinarios{
    flex-direction: row-reverse;
    margin: 5px 0 5px 0;
}

.controles div{
    margin-left: 20px;
    margin-right: 20px;
}

.services {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 25px;
    width: 82.5%;
}

.cards {
    width: 250px;
    height: 330px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    border-radius: 5px;
    z-index: 1;
}

.cards::before {
    content: "";
    position: absolute;
    background: #EAC9B644;
    border: 1px solid #EAC9B6AA;

    transform: rotate(3deg);
    inset: 0;
    z-index: 0;
    border-radius: 5px;
}

.cards1 {
    width: 85%;
    height: 95%;
    position: absolute;
    z-index: 10;
    align-content: center;
}

.picture {
    position: relative;
    display: grid;
}

.picture img {
    width: 95%;
    height: 200px;
    align-self: center;
    justify-self: center;
    object-fit:cover;
    border-radius: 5px;
}

.description {
    display: grid;
    position: relative;
    padding-top: 15px;
}

.description h1 {
    font-size: 18px;
    margin-top: 5px;
    text-align: justify;
    justify-self: center;
}

.description p {
    font-size: 12px;
    margin-top: 5px;
    text-align: justify;
    justify-self: center;
    line-height: 100%
}

.opcionesAdmin {
    display: flex;
    justify-content: space-evenly;
}

.opcionesAdmin a{
    margin-left: 10px;
    margin-right: 10px;
}

.opcionesAdmin img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    
}

.more {
    font-family: Georgia;
    color: #ffffff;
    padding: 9px;
    text-decoration: none;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 1px 3px #666666;
    background: #e2dfe198;
    z-index: 9;
}

.services .cards .cards1:hover {
    z-index: 0;
}
.services .cards .more:hover {
    z-index: 100;
    background: #e2dfe16c;
    border: solid #e2dfe198 0.5px;
}

.contenedor-modal {
    position:fixed;
    top: 54%;
    width: 90%;
    height: 95%;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    z-index: 500;
}

.contenedor-modal:target {
    visibility: visible;
    opacity: 1;
}

.contenedor-modal:target .moda{
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}

.moda{
    width: 70%;
    height: 90%;
    position: relative;
    left: -80%;
    transform: rotate(98deg) translate(-150%, 230%);
    transition: all 600ms;
}

.btn-close-modal {
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: black;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    z-index: 9005;

}
.descripcion {
    padding: 10px;
    display: grid;
}

/* .descripcion button {
    background: rgba(24, 90, 99, 0.6);
    justify-self: center;
    align-self: center;
} */

.informacion {
    background: black;
    display: grid;
    justify-content: stretch;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 10% 80% 10%;
    height: 100%;
    width: 100%;
}

.informacion > h3{
    text-align: center;
    grid-column: 1/4;
    margin-top: 15px
}

.informacion img {
    width: 85%;
    height: 75%;
    justify-self: center;
    align-self: center;
    margin: 15px;
    object-fit:cover;

}

.informacion > button{
    grid-column: 1/4;
}

.form-group > input, select{
    height: 50px !important;
}
.cont{
    color: white;
    display: flex;
}

.actualizar{
    grid-column: 2/3;
}
