@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
  background-color: #b6c7eae3;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inspiration {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Gill Sans', sans-serif;
  font-size: 12px;
  color: #969696;
}
.inspiration img {
  width: 60px;
}

.center {
  position: relative; 
  /* width: 275px; */
  height: 510px;
  border-radius: 3px;
  overflow: hidden;
  background-image: linear-gradient(to top right, rgb(0 168 255), rgb(249 95 230));
  border-radius: 25px;
  -webkit-box-shadow: 15px -5px 21px 3px rgba(82,110,158,1);
  -moz-box-shadow: 15px -5px 21px 3px rgba(82,110,158,1);
  box-shadow: 15px -5px 21px 3px rgba(82,110,158,1);
}

.header{
  /* margin: 0px 0px 0px 18px ; */
  margin-bottom: 0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 50px;
  margin-top: 11px ;
}

#modal::backdrop{
  background-color: rgba(0, 0, 0, .55);
}
#cerrar-modal{
  background-color: rgb(40, 116, 166);
}
#modal{
  background-color: rgb(93, 173, 226);
}
.container{
  position: relative;
  bottom: 19px;
}
@media (max-height:1024px){
  body{
    min-height: 95vh;
  }
}
@media (max-height:914px){
  body{
    overflow: hidden;
  }
}
@media (max-height:609px){
  body{
    overflow: auto;
  }
}
@media (min-height:1024px){
  body{
    min-height: 95vh;
    overflow: hidden;
  }
  .container{
    transform: scale(1.6);
  }
}
@media(max-width:360px){
  .center{
    width: 275px;
  }
  .center .hands .hand--left {
    left: 50px !important;
  }
  .center .hands .hand--right {
    left: 168px !important;
  }
}
.center .ear {
  position: absolute;
  top: -110px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(50 22 22);
}
.center .ear.ear--left {
  left: -135px;
}
.center .ear.ear--right {
  right: -135px;
}
.center .face {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 150px;
  margin: 80px auto 10px;
  --rotate-head: 0deg;
  transform: rotate(var(--rotate-head));
  transition: transform 0.2s;
  transform-origin: center 20px;
}
.center .eye {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #243946;
}
.center .eye.eye--left {
  margin-right: 40px;
}
.center .eye.eye--right {
  margin-left: 40px;
}
.center .eye .glow {
  position: relative;
  top: 3px;
  right: -12px;
  width: 12px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  transform: rotate(38deg);
}
.center .nose {
  position: relative;
  top: 30px;
  transform: scale(1.1);
}
.center .nose .glow {
  position: absolute;
  top: 3px;
  left: 32%;
  width: 15px;
  height: 8px;
  border-radius: 50%;
  background-color: #476375;
}
.center .mouth {
  position: relative;
  margin-top: 45px;
}
.center svg.smile {
  position: absolute;
  left: -28px;
  top: -19px;
  transform: scaleX(1.1);
  stroke: #243946;
}
.center .mouth-hole {
  position: absolute;
  top: 0;
  left: -50%;
  width: 60px;
  height: 15px;
  border-radius: 50%/100% 100% 0% 0;
  transform: rotate(180deg);
  background-color: #243946;
  z-index: -1;
}
.center .tongue {
  position: relative;
  top: 5px;
  width: 30px;
  height: 20px;
  background-color: #ffd7dd;
  transform-origin: top;
  transform: rotateX(60deg);
}
.center .tongue.breath {
  -webkit-animation: breath 0.3s infinite linear;
          animation: breath 0.3s infinite linear;
}
.center .tongue-top {
  position: absolute;
  bottom: -15px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffd7dd;
}
.center .line {
  position: absolute;
  top: 0;
  width: 30px;
  height: 5px;
  background-color: #fcb7bf;
}
.center .median {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 25px;
  border-radius: 5px;
  background-color: #fcb7bf;
}
.center .hands {
  position: relative;
}
.center .hands .hand {
  position: absolute;
  top: -6px;
  display: flex;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}
.center .hands .hand--left {
  left: 80px;
}
.center .hands .hand--left.hide {
  transform: translate(2px, -155px) rotate(-160deg);
}
.center .hands .hand--left.peek {
  transform: translate(0px, -120px) rotate(-160deg);
}
.center .hands .hand--right {
  left: 195px;
}
.center .hands .hand--right.hide {
  transform: translate(-6px, -155px) rotate(160deg);
}
.center .hands .hand--right.peek {
  transform: translate(-4px, -120px) rotate(160deg);
}
.center .hands .finger {
  position: relative;
  z-index: 0;
}
.center .hands .finger .bone {
  width: 20px;
  height: 20px;
  border: 2px solid #243946;
  border-bottom: none;
  border-top: none;
  background-color: rgb(50 22 22);
}
.center .hands .finger .nail {
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #243946;
  background-color: rgb(50 22 22);
  z-index: -1;
}
.center .hands .finger:nth-child(1),
.center .hands .finger:nth-child(3) {
  left: 4px;
  z-index: 1;
}
.center .hands .finger:nth-child(1) .bone,
.center .hands .finger:nth-child(3) .bone {
  height: 10px;
}
.center .hands .finger:nth-child(3) {
  left: -4px;
}
.center .hands .finger:nth-child(2) {
  top: -5px;
  z-index: 2;
}
.center .hands .finger:nth-child(1) .nail,
.center .hands .finger:nth-child(3) .nail {
  top: 0px;
}
.center .login {
   position: relative; 
  display: flex;
  flex-direction: column;
}
.center .login label {
  position: relative;
  padding: 0 20px;
}
.center .login label .fa {
  position: absolute;
  top: 40%;
  left: 35px;
  color: #bbb;
}
.center .login label .fa:before {
  position: relative;
  left: 1px;
}
.center .login input,
.center .login .login-button {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 30px;
}
.center .login input {
  padding: 0 20px 0 40px;
  margin: 5px 0;
  box-shadow: none;
  outline: none;
}
.center .login input::-moz-placeholder {
  color: #ccc;
}
.center .login input:-ms-input-placeholder {
  color: #ccc;
}
.center .login input::placeholder {
  color: #ccc;
}
.center .login input.password {
  padding: 0 90px 0 40px;
}
.center .login .password-button {
  position: absolute;
  top: 9px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 27px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #243946;
  color: #fff;
  cursor: pointer;
}
.center .login .password-button:active {
  transform: scale(0.95);
}
.center .login .login-button {
  width: calc(100% - 40px);
  margin: 7px 20px 0;
  outline: none;
  background-color: #243946;
  color: #fff;
  transition: transform 0.1s;
  cursor: pointer;
}
.center .login .login-button:active {
  transform: scale(0.95);
}
.center .social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
}
.center .social-buttons .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #243946;
  color: #fff;
  font-size: 18px;
  margin-top: 8px;
  cursor: pointer;
}
.center .social-buttons .social:active {
  transform: scale(0.95);
}
.center .footer {
  text-align: center;
  margin-top: 15px;
}
.item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(17px * .8);
  margin-bottom: 0px;
  margin-top: 7px;
}
.item a{
  text-decoration: none;
}
.text-footer{
  opacity: .8;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: calc(1rem*.8);
}
@-webkit-keyframes breath {
  0%, 100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(60deg);
  }
} 
@keyframes breath {
  0%, 100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(60deg);
  }
}
/* *,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: #b6c7eae3 !important;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.login-card,
.reset{
    width: 400px;
    height: 550px;
    background: rgba(255, 255, 255, .5);
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.login-card::before,
.reset::before{
    content: '';
    position: absolute;
    background:rgba(255, 255, 255, .25);
    inset:0;
    transform: rotate(-5deg);
    z-index: -1;
}

.login-card-logo img{
    width: 90px;
}
.login-card-logo,
.login-card-header,
.login-card-footer{
    text-align: center;
}
.login-card a,
.reset a{
    text-decoration: none;
    color: #35339a;
}
.login-card a:hover,
.reset a:hover{
    text-decoration: underline;
}
.login-card-header{
    margin-bottom: 0px;    
}
.login-card-header h2{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom:10px;
}
.login-card-header div{
    font-size: calc(17px * .8);
    opacity: .8;
}
.login-card-form,
.reset-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;

}

.login-card-form .form-item,
.reset-form .form-item{
    position: relative;
}
.login-card-form .form-item-other{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(17px * .8);
    margin-bottom: 10px;
}

.login-card-form .form-item .form-item-icon,
.reset-form .form-item .form-item-icon{
    position: absolute;
    top: 12.5px;
    left: 22px;
    font-size: 20px;
    opacity: .4;
}

.login-card-footer{
    margin-top: 10px;
    font-size: calc(17px * .8);

}
.login-card input[type="text"],
.login-card input[type="email"],
.login-card input[type="password"],
.reset input[type="email"]{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 15px 24px;
    padding-left: calc(20px*3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}
.login-card input:focus,
.reset input:focus{
    background: white;
}
.login-card input[type="checkbox"]{
    width: 16px;
    height: 16px;
    accent-color: black;
}
.login-card-form button,
.reset-form button{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}
.login-card-form button:hover,
.reset-form button:hover{
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}
.login-card-social {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 9px;
}
.login-card-social > div{
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1rem*.8);
}
.login-card-social-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.login-card-social-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(193, 109, 109, 0.6);
    border-radius: 100px;
    transition: all .5s;
}
.login-card-social-btn a:hover{
background: white;
transform: scale(1.1);
}
.reset-header{
    text-align: center;
    margin-bottom: 15px; 
}
.reset-header div{
    font-size: calc(18px * .8);
    opacity: .8;
}
.reset-header h1{
    font-weight: 600;
    margin-bottom:30px;
}
.reset-footer{
    margin-top: 10px;
    font-size: calc(17px * .8);
    text-align: center;
}
/* responsive */
@media(max-width:768px){
    body{
        padding: 2rem 0;
    }
    .login-card,
    .reset{
        width: 300px;
        padding:2rem;
    }
}