@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

body {
  display: block;
  background: linear-gradient(to right, orange, rgba(0, 0, 255, 0.779));
}

#checke {
  display: none;
}

header {
  display: flex;
  flex-direction: row-reverse;
}

.submenu {
  display: flex;
  width: 85%;
  height: 70px;
  flex-direction: row-reverse;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

.iniciarSesion {
  align-items: center;
  height: auto;
  width: 300px;
}

.subopcion a {
  width: 70%;
  text-align: center;
}

.sublista {
  list-style: none;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  width: 15%;
  margin-left: 50px;
}

.sublista li a {
  padding: 25px 0 20px 0;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 88%;
  display: block;
  text-align: center;
}

.sublista li {
  width: 100%;
}

.subopcion {
    display: flex;
    height: 100%;
    align-items: center;
}

.sesion {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

#checke:checked ~ .sublista{
    display:block;
}

.subopcion:hover{
    background: #4c71e9;
    border-radius: 5px;
}

.sublista li :hover {
  background: #4c71e9;
  border-radius: 5px;
}

.stick {
  margin-top: -70px !important;
  position: fixed;
  width: 15%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 11;
}

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.navbar {
  width: auto;
  list-style: none;
  border-radius: 5px;
}

.nav label img {
  padding-top: 100px;
}

.lista li {
  width: 100%;
  height: 15%;
}

.opciones {
  display: flex;
  height: 65%;
  align-items: center;
}

.lista li a {
  padding: 0 40px 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 88%;
  width: 50%;
  display: flex;
  justify-content: center;
}

#miniaturas {
  width: 30px;
  height: 35px;
}

.opciones:hover {
  background: #4c71e9;
  border-radius: 5px;
}

article {
  width: 100%;
  height: 85%;
}

/*responsive*/
@media (max-width: 1400px) {
  .nav a img {
    padding-top: 10px;
    width: 75px;
  }
}

@media (max-width: 1060px) {
  .nav a img {
    display: none;
  }
  .ultimo {
    margin-left: 0;
    margin-right: 0;
    width: 100px;
  }
}

@media (max-width: 980px) {
  #checke {
    display: none;
  }
  .checkbtn {
    display: block;
    margin-top: 10px;
  }

  .lista li {
    width: 100%;
    height: 14.3%;
  }
  .opciones {
    display: flex;
    padding: 0;
    height: 100%;
  }
  #miniaturas {
    margin-left: 100px;
    width: 30px;
    height: 35px;
    padding: 0;
  }
  .ultimo {
    margin-left: 0;
  }
  #check:checked ~ .lista {
    left: 0;
  }
  #checke:checked ~ .sublista {
    display: block;
  }
  .sesion {
    margin-right: 30px;
  }
  .sublista {
    text-align: left;
    width: 55%;
    bottom: 0;
    left: 250px;
  }
  .nav li:hover > .sublista {
    display: none;
  }
}
