@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #b6c7eae3 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.container {
    background: rgba(255, 255, 255, .5);
    /*1rem-16px*/
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    margin-top: 3%;
}

.container::before{
    content: '';
    position: absolute;
    background:rgba(255, 255, 255, .15);
    inset:0;
    transform: rotate(-5deg);
    z-index: -1;
}

.register-header{
    text-align: center;
    font-size: 15px;
}

.register-formc{
    padding-left: 40px;
    padding-right: 40px;
}

.register-left{
    display: flex;
    flex-direction: column;
    justify-content: content;
    background-color: white;
}

.register-form-content{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.register-form-content h5{
    margin: 0px;
}

.register-form-content .form-item{
    position: relative;
}

.register-form-content .form-item .form-item-icon{
    position: absolute;
    top: 12.5px;
    left: 22px;
    font-size: 20px;
    opacity: .4;
    color: #8c8383;
}

.register-form-content .form-item .input-group-append{
    font-size: 15px;
}

.register-left input[type="text"],
.register-left input[type="email"],
.register-left input[type="password"]{
    border: none;
    outline: none;
    background: rgba(147, 122, 122, 0.3);
    padding: 15px 24px;
    padding-left: calc(20px*3.5);
    border-radius: 10px;
    width: 100%;
    transition: background .5s;
}
.register-left input:focus{
    background: rgb(29, 28, 28);
    color: white;
}
.register-form button{
    background: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}
.register-form button:hover{
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}

/*Resposive*/
@media (max-width:1350px){
    .register-left{
        padding: 10px !important;
    }
    .register-form{
        width: 100%;
    }
    .register-form-content{
        flex-direction: column;
        gap: 15px;
    }
}
@media (max-width:768px){
    body{
        padding: 20px;
    }
    .container{
        grid-template-columns: auto;
    }
    .register-right{
        display: none;
    }
}

