@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url(../IMG/Home/Fondo2.jpg) fixed;
  align-items: center;
  justify-content: center;  
  background-size: 100% auto;
  display: flex;
  padding: 15px;
  min-height: 100vh;
}
.container {
  width: 1000px;
  background: rgba(255, 255, 255, .5);
  /*1rem-16px*/
  padding: 1rem;
  border-radius: 10px;
  position: relative;
}
.container::before{
  content: '';
  position: absolute;
  background:rgba(255, 255, 255, .15);
  inset:0;
  transform: rotate(-3deg);
  z-index: -1;
}

.img-logcont{
  display: flex;
  justify-content: start;
  align-items: center;
 
}
.img-logo{
  width: 110px;
}
.img-logo img{
  width: 100%;
}
.img-payu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-imgp{
  max-width: 200px;
}
.cont-imgp img{
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 7px 11px 24px 5px rgba(13,12,13,0.65);
-moz-box-shadow: 7px 11px 24px 5px rgba(13,12,13,0.65);
box-shadow: 7px 11px 24px 5px rgba(13,12,13,0.65);
}
.cont-title{
 text-align: center;
}
.cont-text p{
  text-align: justify ;
}
 .cont-form{
  background: rgb(208, 211, 212);
  padding: 1em;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.cont-form a{
  
  background: black;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background .5s;
  text-decoration: none;
}
.cont-form a:hover{
  background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}
@media(max-width:658px){
  .cont-form{
    display: flex;
    flex-direction: column;
  }
}

/*
.cont-form form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cont-form label{
  display: block;
}
.cont-form form p{
  margin: 0;
  padding: 1em;
  text-align: center  ;
  position: relative;
}
.cont-form .block2{
  grid-column: 2/3;
 align-items: center;
 justify-content: center;
}
.cont-form .block1{
  grid-column: 2/3;
}
.cont-form .block3{
  grid-column: 1/1;
}
.cont-form input[type="text"],
.cont-form input[type="email"],
.cont-form input[type="number"],
.cont-form input[type="tel"]{
  border: none;
  outline: none;
  background: rgba(147, 122, 122, 0.3);
  padding: 15px 24px;
  padding-left: calc(20px*3.5);
  border-radius: 10px;
  width: 100%;
  transition: background .5s;
  margin-bottom: 10px;
}
.cont-form input:focus{
  background: rgb(29, 28, 28);
  color: white;
}
.cont-form .form-item-pay{
  position: absolute;
  top: 52px;
  left: 30px;
  font-size: 20px;
  opacity: .4;
  color: #8c8383;
}
.cont-form .form-item-person1{
  position: absolute;
  top: 52px;
  left: 30px;
  font-size: 20px;
  opacity: .4;
  color: #8c8383;
}
.cont-form .form-item-person2{
  position: absolute;
  top: 108px;
  left: 30px;
  font-size: 20px;
  opacity: .4;
  color: #8c8383;
}
.cont-form .form-item-pais{
  position: absolute;
  top: 52px;
  left: 30px;
  font-size: 20px;
  opacity: .4;
  color: #8c8383;
}
.cont-form .form-item-city{
  position: absolute;
  top: 108px;
  left: 30px;
  font-size: 20px;
  opacity: .4;
  color: #8c8383;
}
.cont-form .form-item-direction{
  position: absolute;
  top: 165px;
  left: 30px;
  font-size: 20px;
  opacity: .4;
  color: #8c8383;
}
.cont-form .form-item-mail{
  position: absolute;
  top: 52px;
  left: 30px;
  font-size: 20px;
  opacity: .4;
  color: #8c8383;
}
.cont-form .form-item-cel{
  position: absolute;
  top: 108px;
  left: 30px;
  font-size: 20px;
  opacity: .4;
  color: #8c8383;
}
.cont-form button{
  background: black;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background .5s;
}
.cont-form button:hover{
  background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; } */

.cont-img{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}

/* @media(max-width:658px){
  .cont-form form{
    display: flex;
    flex-direction: column;
  }
} */
@media(max-width:501px){
  .img-payu{
    display: none;
  }
  .cont-img{
    display: grid;
    grid-template-columns: 1fr;
  }
  .img-logcont{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .img-logo{
    width: 170px;
  }

}
/* @media(max-width:292px){
  .cont-form .form-item-person1{
    position: absolute;
    top: 75px;
    left: 30px;
    font-size: 20px;
    opacity: .4;
    color: #8c8383;
  }
  .cont-form .form-item-person2{
    position: absolute;
    top: 133px;
    left: 30px;
    font-size: 20px;
    opacity: .4;
    color: #8c8383;
  }
} */
/* @media(max-width:288px){
  .cont-form .form-item-pay{
    position: absolute;
    top: 76px;
    left: 30px;
    font-size: 20px;
    opacity: .4;
    color: #8c8383;
  }
  
} */
/* @media(max-width:286px){
  .cont-form .form-item-mail{
    position: absolute;
    top: 75px;
    left: 30px;
    font-size: 20px;
    opacity: .4;
    color: #8c8383;
  }
  .cont-form .form-item-cel{
    position: absolute;
    top: 133px;
    left: 30px;
    font-size: 20px;
    opacity: .4;
    color: #8c8383;
  }
  
} */